{% include "inc/header" %}

	<div class="box">
		<form class="pure-form" method="post" action="/done">
		<table class="pure-table pure-table-bordered">

		    <tbody>
		    	<tr>
		            <td>IPアドレス</td>
		            <td><input type="text" placeholder="" name="ipaddress"></td>
		        </tr>
                        <tr>
                            <td>ホスト名</td>
                            <td><input type="text" placeholder="" name="hostname"></td>
                        </tr>
		        <tr>
		            <td>MACアドレス</td>
		            <td><input type="text" placeholder="" name="macaddress"></td>
		        </tr>
		        <tr>
		            <td>VLAN</td>
		            <td><input type="text" placeholder="" name="vlan"></td>
		        </tr>
                        <tr>
                            <td>用途</td>
                            <td><input type="text" placeholder="" name="purpose"></td>
                        </tr>

		  		<tr>
		  			<td colspan="2" align="center">
		  				<button type="submit" class="pure-button pure-button-primary">登録する</button>
		  			</td>
		  		</tr>
		    </tbody>
		</table>
		</form>
	</div>

	<div class="menu">
		<a href="/"><button class="pure-button pure-button-small">一覧に戻る</button></a>
	</div>

{% include "inc/footer" %}
